body {
    font-family: Arial, sans-serif;
}

.header {
    display: center;
    background-color: rgb(16, 231, 238);
    font-style: italic;
    color: azure;
    font-size: large;
    text-align: center;
}

#page-name {
    background-color: black;
    color: azure;
    font-size: medium;
}

#advert {
    margin-top: 50px;
}

#custom-holiday-advert {
    margin-top: 20px;
}

.holiday-list {
    padding: 20px;
}

.holiday-card {
    background-color: aquamarine;
    width: 400px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    word-wrap: break-word;
    white-space: normal;
}

.holiday-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details li {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photos {
    margin-top: 10px;
}

.photos img {
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
}

.holiday-info {
    padding: 20px;
}

.holiday-info h1 {
    margin-top: 0;
}

.create-button {
    margin-top: 10px;
    background-color: #10e746;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.back-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.edit-button {
    background-color: #ebdc13;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete-button {
    background-color: #dd0e1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #3e8e41;
}

#edit-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#edit-form label {
    display: block;
    width: 100%;
}

.save-holiday-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#alert-message {
    text-align: center;
    color: #000000;
    background-color: #df8218;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
  }
  
  #alert-message.show {
    display: block;
  }