body {
    font-family: Arial, sans-serif;
}

.header {
    display: center;
    background-color: rgb(16, 231, 238);
    font-style: italic;
    color: azure;
    font-size: large;
    text-align: center;
}

#page-name {
    background-color: black;
    color: azure;
    font-size: 50px;
}

#advert {
    margin-top: 50px;
}

#custom-holiday-advert {
    margin-top: 30px;
    height: 80px;
}

.holiday-list {
    padding: 20px;
}

.holiday-card {
    background-color: rgb(16, 231, 238);
    width: 400px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    word-wrap: break-word;
    white-space: normal;
    position: relative;
}

.holiday-card::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2L12 22 20 16 4 16 12 2Z'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.holiday-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details li {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photos {
    margin-top: 10px;
}

.photos img {
    width: 1300px;
    height: 1000px;
    margin: 10px;
    border-radius: 10px;
}

.holiday-info {
    padding: 20px;
}

.holiday-info h1 {
    margin-top: 0;
}

.create-button {
    margin-top: 10px;
    background-color: #10e746;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.back-button {
    margin-left: 20px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.edit-button {
    margin-left: 20px;
    background-color: #ebdc13;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete-button {
    margin-left: 20px;
    background-color: #dd0e1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #3e8e41;
}

#edit-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#edit-form label {
    display: block;
    width: 100%;
}

.save-holiday-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#alert-message {
    text-align: center;
    color: #000000;
    background-color: #df8218;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
  }
  
  #alert-message.show {
    display: block;
  }

  #holiday-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  #holiday-form label {
    display: block;
    width: 100%;
  }

  #holiday-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  #holiday-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  #holiday-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .cancel-button {
    background-color: #dd0e1f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }