body {
    font-family: Arial, sans-serif;
}

.header {
    display: center;
    background-color: rgb(114, 114, 114);
    font-style: italic;
    color: azure;
    font-size: large;
    text-align: center;
}

#page-name {
    background-color: black;
    color: azure;
    font-size: 40px;
}

#advert {
    margin-top: 50px;
}

#custom-holiday-advert {
    margin-top: 30px;
    height: 80px;
}

.holiday-list {
    padding: 20px;
}

.holiday-card {
    background-color: rgb(114, 114, 114);
    width: 400px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    word-wrap: break-word;
    white-space: normal;
    position: relative;
}

.holiday-card::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 2L12 22 20 16 4 16 12 2Z'/%3E%3C/svg%3E");
    background-size: 100% 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.holiday-card:hover {
    box-shadow: 0 0 10px rgb(110, 67, 189);
    border-color: #000000;
    border-width: 1px;
}

.details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.details li {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details li label {
    font-weight: bold;
}

.photos {
    margin-top: 10px;
}

.photos img {
    width: 800px;
    height: 600px;
    margin: 10px;
    border-radius: 10px;
}

.holiday-info {
    padding: 20px;
}

.holiday-info h1 {
    margin-top: 0;
}

.create-button {
    margin-top: 10px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
    text-align: center;
}

.create-button:hover {
    background-color: rgb(110, 67, 189);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-width: 5px;
}

.back-button {
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.edit-button {
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: rgb(110, 67, 189);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-width: 5px;
}

.delete-button {
    font-weight: bold;
    font-size: large;
    margin-left: 20px;
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: rgb(110, 67, 189);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-width: 5px;
}

.back-button:hover {
    background-color: rgb(110, 67, 189);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-width: 5px;
}

#edit-form {
    display: block;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

#edit-form label {
    margin-top: 10px;
    display: block;
}

#edit-form input[type="text"] {
    background-color: #d9d8db;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#edit-form [name="description"] {
    width: 50%;
    height: 90px;
    background-color: #d9d8db;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-holiday-button {
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.save-holiday-button:hover {
    background-color: rgb(110, 67, 189);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-width: 5px;
}

#alert-message {
    text-align: center;
    color: #000000;
    background-color: #cea576;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

#alert-message.show {
    display: block;
}

#holiday-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

#holiday-form label {
    display: block;
}

#holiday-form input[type="text"] {
    background-color: #d9d8db;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#holiday-form input:hover {
    background-color: #ccc3c3;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

#holiday-form [id="description"] {
    width: 50%;
    height: 90px;
    background-color: #d9d8db;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#holiday-form [id="description"]:hover {
    background-color: #ccc3c3;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
}

#holiday-form input[type="submit"] {
    background-color: #333333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#holiday-form input[type="submit"]:hover {
    background-color: rgb(110, 67, 189);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-width: 5px;
}

.cancel-button {
    margin-left: 20px;
    background-color: #44292b;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: rgb(110, 67, 189);
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
    border-width: 5px;
}

.half-star {
    position: relative;
}

.half-star::before {
    content: "★";
    position: absolute;
    top: -3px;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.bold {
    font-weight: 900;
}

#logo {
    color: rgb(110, 67, 189);
    text-decoration: none;
}

.rating {
    display: inline-block;
}

.star {
    font-size: 24px;
    cursor: pointer;
}

.star.filled {
    color: rgb(110, 67, 189);
}

.star:hover {
    color: rgb(115, 72, 197);
}